[Desktop Entry]
Type=Application
Name=TV Launcher
Comment=A sleek, console-style application launcher for Windows and Linux
Exec=bash -c "cd 'your py path here"
Icon=your icon path here
Terminal=false
Categories=Utility;
Path=
StartupNotify=false
