
[Desktop Entry]
Version=0.9
Type=Application
Name=TV Launcher
Comment=Portable TV Launcher
Exec="/home/yourpath/launcher.sh"
Icon=/home/yourpath/assets/icons/logo.png
Terminal=false
Categories=Utility;AudioVideo;
StartupWMClass=TVLauncher

